

body{
    background-color: rgb(31, 31, 31);
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    

}
p{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
    font-weight: bolder;    
    margin-left: 420px;




}
.board {
    display: grid;
    gap: 0px;
    width: 600px;
    height: 600px;
    border: 1px solid rgb(155, 151, 151);
    border-radius: 5px;
    
}


.div {
    background-color: white;
    border: 0.001px solid #ccc;
}

.buttons{
    
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 130px;
    margin-right: 100px;
    
}
button {

    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #050303;
    background-color: #c9c9c9; /* Set your desired background color */
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
button:hover {
    background-color: #2980b9; /* Set your desired hover background color */
    color: #fff;
}

button .set-size{
    width:40px;
}

.content{
    display: flex;
    flex-direction: row-reverse;


    justify-content: center;
}

.size input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: black;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none ;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;

}
#colorpicker::-webkit-color-swatch{
    border:none;
    border-radius: 18px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    gap: 8px;
}
#size {
    
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #14517c; /* Set your desired background color */
    transition: background-color 0.3s, color 0.3s;
}

#size::placeholder {
    color: #ffffff7c; /* Set your desired placeholder text color */
    text-align: center;
}
.color{
    font-size: 22px;
    text-align: center;
    text-decoration: none;

}